.socials {
    @include sm-block {
        flex-direction: column;
        &__link ~ &__link {
            margin-left: 24px;
        }
    }
    display: flex;
    align-items: center;
    &__title {
        @include sm-block {
            text-align: center;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
    }
    &__link {
        @include sm-block {
            margin-top: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        text-decoration: none;
        margin-left: 24px;
    }
    &__img {
        display: block;
        width: 30px;
        height: 30px;
    }
}